@import 'lib/stylesheets/preflight.css';
@import 'lib/assets/fonts/Inter/font_face.css';
@import 'lib/stylesheets/themes/neutral.css';
@import 'lib/stylesheets/themes/police.css';

@import 'lib/stylesheets/components/c-button.css';
@import 'lib/stylesheets/components/c-spinner.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --cubic-in-out: cubic-bezier(0.65, 0, 0.35, 1);
        --font-family-body: InterVariable, ui-system, sans-serif;
        --font-family-title: InterVariable, ui-system, sans-serif;
        --font-family-number: 'Bebas Neue', ui-system, sans-serif;

        --font-size-xs: 0.7rem;
        --font-size-sm: 0.8rem;
        --font-size-base: 1rem;
        --font-size-md: 1.15rem;
        --font-size-lg: 1.3rem;
        --font-size-xl: 1.45rem;
        --font-size-2xl: 1.6rem;
    }

    :root {
        font-size: calc(1.25vmin + 0.4vmax);
        line-height: 1;

        cursor: default;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        font-family: var(--font-family-body);
        color: var(--theme-base-fg-1);

        &::selection {
            background-color: var(--theme-primary);
            color: var(--theme-primary-fg-1);
        }
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-optical-sizing: auto;
        }
    }

    :where(.overlap) {
        display: grid;

        & > * {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &.overlap-center {
            place-content: center;
            place-items: center;
        }
    }

    .scrollbar {
        &::-webkit-scrollbar {
            width: 0.25rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsl(var(--theme-tw-primary) / 0.4);
            border-radius: 9999px;
        }

        &::-webkit-scrollbar-track {
            background-color: hsl(var(--theme-tw-primary) / 0.15);
            border-radius: 9999px;
        }
    }

    :where(th) {
        font-weight: inherit;
    }
}

:where(.parallelogram) {
    --_p: 10%;
    clip-path: polygon(
        var(--_p) 0,
        100% 0,
        calc(100% - var(--_p)) 100%,
        0 100%
    );
}
